div{display: grid;}

/* Container */
.container{grid-template-areas: 'header' 'main';}

/* Container > Header */
.header{grid-area: header;}

/* Container > Main  */
.main{
    grid-area: main;
    grid-template-areas: 'sub-header' 'text' 'kalkulation';
}

/* Container > Main > Sub-Header*/
.sub-header{grid-area: sub-header;}

/* Container > Main > Text */
.text{grid-area: text;}

/*Container > Main > Kalkulation */
.kalkulation{
    grid-area: kalkulation;
    grid-template-areas: 'eingabe ausgabe';
    column-gap: 50px;
    justify-content: center;
}

/* Container > Main > Kalkulation > Eingabe */
.eingabe{
    grid-area: eingabe;
    width: max-content;
    column-gap: 20px;
    row-gap: 5px;
    grid-template-areas:
    'ez1l ez1i'
    'ez2l ez2i'
    'ez3l ez3i'
    'ez4l ez4i'
    'ez5l ez5i'
    '.. ebtn';
}
.ez1l{grid-area: ez1l;}
.ez1i{grid-area: ez1i;}
.ez2l{grid-area: ez2l;}
.ez2i{grid-area: ez2i;}
.ez3l{grid-area: ez3l;}
.ez3i{grid-area: ez3i;}
.ez4l{grid-area: ez4l;}
.ez4i{grid-area: ez4i;}
.ez5l{grid-area: ez5l;}
.ez5i{grid-area: ez5i;}
.ebtn{grid-area: ebtn;}

/* Container > Main > Kalkulation > Ausgabe */
.ausgabe{
    grid-area: ausgabe;
    width: max-content;
    column-gap: 20px;
    row-gap: 5px;
    grid-template-areas:
    'az1l az1i'
    'az2l az2i'
    'az3l az3i'
    'az4l az4i'
    'az5l az5i'
    'az6l az6i'
    'az7l az7i';
}
.az1l{grid-area: az1l;}
.az1i{grid-area: az1i;}
.az2l{grid-area: az2l;}
.az2i{grid-area: az2i;}
.az3l{grid-area: az3l;}
.az3i{grid-area: az3i;}
.az4l{grid-area: az4l;}
.az4i{grid-area: az4i;}
.az5l{grid-area: az5l;}
.az5i{grid-area: az5i;}
.az6l{grid-area: az6l;}
.az6i{grid-area: az6i;}
.az7l{grid-area: az7l;}
.az7i{grid-area: az7i;}