/* Table */

td {
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
    tr {
        th {
            .option {
                border: 2px solid black;
                margin-left: 2rem;
                margin-right: 2rem;
                cursor: pointer;
                transition: 0.5s ease;
                &:hover {
                    box-shadow: 0 0 10px 5px lightgray;
                    transition: 0.5s ease;
                }
            }
        }
    }
}