.optionen {
    display: flex;
    flex-wrap: wrap;
    .option {
        border: 1px solid black;
        margin-left: 8rem;
        margin-right: 2rem;
        text-align: center;
        width: 12%;
        transition: 0.5s ease;
        cursor: pointer;
        img {
            width: 105%;
        }
        &:hover {
            box-shadow: 0 0 10px 5px lightgray;
            transition: 0.5s ease;
        }
    }
}