body {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
    .menu {
        margin: 5px;
    }
    .text {
        margin-left: 18rem;
        text-align: center;
    }
}

.optionen {
    display: flex;
    flex-wrap: wrap;
    .option {
        border: 1px solid black;
        margin-left: 8rem;
        margin-right: 2rem;
        text-align: center;
        width: 12%;
        img {
            width: 105%;
        }
    }
}