    body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    h1 {
        text-align: center;
        text-decoration: underline;
    }
    
    #email_login_error,
    #passwort_login_error,
    #email_register_error,
    #passwort_register_error,
    #passwortverify_register_error {
        color: red;
    }
    
    table {
        margin-left: auto;
        margin-right: auto;
        tr {
            td {
                .login {
                    margin-right: 15rem;
                    text-align: center;
                    button[type=submit] {
                        background-color: #008CFF;
                        border: 2px solid #008CFF;
                        color: white;
                        font-size: 16px;
                        transition-duration: 0.4s;
                        border-radius: 15px;
                        padding: 15px 32px;
                        cursor: pointer;
                        &:hover {
                            background-color: white;
                            color: #008CFF;
                            border: 2px solid #008CFF;
                        }
                    }
                }
                .newAccount {
                    margin-left: 15rem;
                    text-align: center;
                    button[type=submit] {
                        background-color: #008CFF;
                        border: 2px solid #008CFF;
                        color: white;
                        font-size: 16px;
                        transition-duration: 0.4s;
                        border-radius: 15px;
                        padding: 15px 32px;
                        cursor: pointer;
                        &:hover {
                            background-color: white;
                            color: #008CFF;
                            border: 2px solid #008CFF;
                        }
                    }
                }
                .divider {
                    text-align: center;
                    margin-left: 0.1rem;
                    border-left: 2px solid black;
                    height: 500px;
                }
            }
        }
    }