body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial;
    background-color: lightgray;
}

.container {
    background-color: white;
    border-radius: 3px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2 {
    padding-top: 2rem;
}

p:nth-child(4) {
    padding-bottom: 2rem;
}

button {
    background-color: royalblue;
    border: 1px solid royalblue;
    width: 40%;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    color: royalblue;
}

a {
    text-decoration: none;
    color: white;
}