@charset "UTF-8";
/** Colley Menü-CSS
    * Hier wird nur beschrieben was zum Menü gehört.
    * Alles was das Style betrifft, wird im Style-CSS definiert.
    * Alles was das Menu betrifft, wird im Grid-CSS definiert.
    * Alles was die Buttons betrifft, wird im Button-CSS definiert
    */
.menu {
  position: absolute;
  left: 10px;
  top: 291px;
  color: var(--hamburger);
}
.menu span {
  font-size: 35px;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition-duration: 0.4s;
  padding-top: 40px;
  box-shadow: 10px 0 5px -2px #888;
  overflow-y: hidden;
  /* Dark-Ligh Mode */
}
.sidenav .switch-part {
  display: flex;
  height: 4.8vh;
  margin-top: -1rem;
  /* Rounded sliders */
}
.sidenav .switch-part .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 1.9rem;
}
.sidenav .switch-part .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.sidenav .switch-part .switch input:checked + .slider {
  background-color: #2196F3;
}
.sidenav .switch-part .switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.sidenav .switch-part .switch input:checked + .slider::before {
  transform: translateX(26px);
}
.sidenav .switch-part .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.sidenav .switch-part .slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.sidenav .switch-part .slider.round {
  border-radius: 34px;
}
.sidenav .switch-part .slider.round:before {
  border-radius: 50%;
}
.sidenav .switch-part #mode {
  margin-top: -0.3rem;
  margin-left: -1.4rem;
  color: white;
}
.sidenav h1 {
  padding: 0px 8px 0px 32px;
  color: white;
  display: block;
  transition-duration: 0.4s;
}
.sidenav h1:hover {
  color: #f1f1f1;
  cursor: context-menu;
}
.sidenav h2 {
  padding: 0px 8px 0px 32px;
  color: whitesmoke;
  display: block;
  transition-duration: 0.4s;
  font-style: italic;
}
.sidenav h2:hover {
  color: #f1f1f1;
  cursor: context-menu;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition-duration: 0.4s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav a:nth-child(4) {
  cursor: pointer;
}
.sidenav p {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition-duration: 0.4s;
}
.sidenav p:hover {
  cursor: context-menu;
}
.sidenav .closebtn {
  position: absolute;
  top: 10;
  right: 8px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav .closebtn:hover {
  cursor: pointer;
}
.sidenav button {
  background-color: white;
  border: 2px solid white;
  color: black;
  padding: 16px 113px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.sidenav button:hover {
  background-color: black;
  border: 2px solid white;
  color: white;
}
.sidenav img {
  width: 15%;
  filter: invert(100%);
  border-radius: 50%;
}/*# sourceMappingURL=menu.css.map */