/** Colley Menü-CSS
    * Hier wird nur beschrieben was zum Menü gehört.
    * Alles was das Style betrifft, wird im Style-CSS definiert.
    * Alles was das Menu betrifft, wird im Grid-CSS definiert.
    * Alles was die Buttons betrifft, wird im Button-CSS definiert
    */

.menu {
    position: absolute;
    left: 10px;
    top: 291px;
    color: var(--hamburger);
    span {
        font-size: 35px;
        cursor: pointer;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition-duration: 0.4s;
    padding-top: 40px;
    box-shadow: 10px 0 5px -2px #888;
    overflow-y: hidden;
    /* Dark-Ligh Mode */
    .toggle-container {
        margin-left: 2rem;
        float: left;
        margin-top: -1.8rem;
        display: flex;
        p {
            margin-top: -0.5rem;
            margin-left: -1.1999999999999993rem;
            color: white;
            margin-bottom: auto;
        }
        input[type=checkbox] {
            height: 0;
            width: 0;
            visibility: hidden;
            &:checked+label {
                background: var(--color-headings);
                &::after {
                    left: calc(100% - 5px);
                    transform: translateX(-100%);
                }
            }
        }
        label {
            cursor: pointer;
            text-indent: -9999px;
            width: 52px;
            height: 27px;
            background: grey;
            float: right;
            margin-left: -0.8rem;
            border-radius: 100px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 3px;
                left: 3px;
                width: 20px;
                height: 20px;
                background: #fff;
                border-radius: 90px;
                transition: 0.3s;
            }
            &:active {
                &::after {
                    width: 45px;
                }
            }
        }
    }
    h1 {
        padding: 0px 8px 0px 32px;
        color: white;
        display: block;
        transition-duration: 0.4s;
        &:hover {
            color: #f1f1f1;
            cursor: context-menu;
        }
    }
    h2 {
        padding: 0px 8px 0px 32px;
        color: whitesmoke;
        display: block;
        transition-duration: 0.4s;
        font-style: italic;
        &:hover {
            color: #f1f1f1;
            cursor: context-menu;
        }
    }
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition-duration: 0.4s;
        &:hover {
            color: #f1f1f1;
        }
    }
    a:nth-child(4) {
        cursor: pointer;
    }
    p {
        padding: 8px 8px 8px 32px;
        font-size: 25px;
        color: #818181;
        display: block;
        transition-duration: 0.4s;
        &:hover {
            cursor: context-menu;
        }
    }
    .closebtn {
        position: absolute;
        top: -4;
        right: 8px;
        font-size: 36px;
        margin-left: 50px;
        &:hover {
            cursor: pointer;
        }
    }
    button {
        background-color: white;
        border: 2px solid white;
        color: black;
        padding: 16px 113px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        &:hover {
            background-color: black;
            border: 2px solid white;
            color: white;
        }
    }
    img {
        width: 15%;
        filter: invert(100%);
        border-radius: 50%;
    }
}