@charset "UTF-8";
html {
  --bg: #FCFCFC;
  --bg-text: #EBEBEB;
  --color-headings: #0077FF;
  --color-text: #333333;
  --color-text-link: royalblue;
  --color-of-option-images: invert(0);
  --color-for-footer: #4b6982;
  --color-for-footer-text: #b4ffd8;
}
html[data-theme=dark] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-headings: #3694FF;
  --color-text: rgba(255, 255, 255, .87);
  --color-text-link: #FCFCFC;
  --color-of-option-images: invert(100%);
  --color-for-footer: white;
  --color-for-footer-text: black;
}
html body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg);
  /* Text für Login-, Journal- und Kontovalidierung */
  /* Allgemeine Tabelleneinstellung */
  /* Tabelle für das Login und Register */
  /* Tabelle für Rechnungsnummer und Journal */
  /* Table für die Seite um neue Konten erfassen zu können */
  /* Table für Bilanz und Willkommen Seite */
  /* Style für Kontouebersicht */
  /* Login and Register Page Error */
  /* Sidenavigation */
}
html body p {
  color: var(--color-text);
}
html body .title {
  color: var(--color-text);
  text-align: center;
}
html body .title h1 {
  margin-top: 2rem;
  font-size: 50px;
}
html body .title h2 {
  font-size: 40px;
}
html body .menu {
  position: absolute;
  left: 10px;
  top: 10px;
  color: var(--color-text);
}
html body .menu span {
  font-size: 35px;
  cursor: pointer;
}
html body #email_login_error,
html body #passwort_login_error,
html body #email_register_error,
html body #passwort_register_error,
html body #passwortverify_register_error,
html body #datum_error,
html body #haben_error,
html body #soll_error,
html body #betrag_error,
html body #kontonummer_konto_error,
html body #titel_konto_error,
html body #verwendungszweck_konto_error,
html body #rechnungsnummer_rechnungsnummer_error,
html body #journalnummer_rechnungsnummer_error,
html body #rechnung_rechnungsnummer_error {
  color: red;
  text-align: center;
  font-weight: bold;
}
html body .margin-auto {
  margin-left: auto;
  margin-right: auto;
}
html body label {
  float: right;
}
html body input {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
html body textarea {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
html body .logintable tr td .login {
  margin-right: 15rem;
  text-align: center;
}
html body .logintable tr td .login button[type=submit] {
  background-color: #008CFF;
  border: 2px solid #008CFF;
  color: white;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 15px;
  padding: 15px 32px;
  cursor: pointer;
}
html body .logintable tr td .login button[type=submit]:hover {
  background-color: white;
  color: #008CFF;
  border: 2px solid #008CFF;
}
html body .logintable tr td .newAccount {
  margin-left: 15rem;
  text-align: center;
}
html body .logintable tr td .newAccount input {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
html body .logintable tr td .newAccount .showBtn {
  position: absolute;
  right: 385px;
  top: 45.5%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
html body .logintable tr td .newAccount .password_strength_area {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}
html body .logintable tr td .newAccount .password_strength_area .indicator {
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
html body .logintable tr td .newAccount .password_strength_area .indicator span {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
}
html body .logintable tr td .newAccount button[type=submit] {
  background-color: #008CFF;
  border: 2px solid #008CFF;
  color: white;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 15px;
  padding: 15px 32px;
  cursor: pointer;
}
html body .logintable tr td .newAccount button[type=submit]:hover {
  background-color: white;
  color: #008CFF;
  border: 2px solid #008CFF;
}
html body .logintable tr td .divider {
  text-align: center;
  margin-left: 0.1rem;
  border-left: 2px solid black;
  height: 500px;
}
html body .TabelleKlein label {
  margin-right: 2rem;
  color: var(--color-text);
}
html body .TabelleKlein tr {
  height: 5vh;
}
html body .TabelleKlein tr td .selectize-control {
  width: 200%;
  margin-top: 1rem;
}
html body .TabelleKlein tr td .selectize-control .selectize-input {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
html body .TabelleKlein tr td button[type=submit] {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}
html body .TabelleKlein tr td button[type=submit]:hover {
  background-color: black;
  color: white;
}
html body .neuesKontoTabelle label {
  margin-right: 2rem;
  margin-top: 2rem;
}
html body .neuesKontoTabelle tr {
  height: 5vh;
}
html body .neuesKontoTabelle tr td p {
  margin-top: -5rem;
  margin-right: 2rem;
}
html body .neuesKontoTabelle tr td button[type=submit] {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}
html body .neuesKontoTabelle tr td button[type=submit]:hover {
  background-color: black;
  color: white;
}
html body .normalTable {
  width: 100%;
  text-align: center;
}
html body .normalTable tr th .option {
  border: 2px solid var(--color-text);
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: pointer;
  transition-duration: 0.4s;
}
html body .normalTable tr th .option:hover {
  box-shadow: 0 0 10px 5px lightgray;
}
html body .normalTable tr th .option img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  filter: var(--color-of-option-images);
}
html body .normalTable tr th .option p {
  color: var(--color-text);
}
html body .kontouebersichtTabelle {
  margin-left: 2rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
html body .kontouebersichtTabelle .konto {
  border: 2px solid black;
  background-color: #DAE8FC;
  cursor: pointer;
  margin-right: 2rem;
  margin-bottom: 2rem;
  transition-duration: 0.4s;
}
html body .kontouebersichtTabelle .konto:hover {
  box-shadow: 0 0 10px 5px lightgray;
}
html body .kontouebersichtTabelle .konto p {
  margin: 2rem;
}
html body .kontouebersichtTabelle .konto p:nth-child(1) {
  font-weight: bold;
}
html body .part {
  margin: 2rem;
}
html body .loginPasswordIsWrong {
  margin: 2rem;
}
html body .loginPasswordIsWrong .back {
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
html body .loginPasswordIsWrong .back:hover {
  background-color: white;
  border: 1px solid #4CAF50;
  color: #4CAF50;
}
html body .loginPasswordIsWrong #sendEmail {
  margin-top: 2rem;
  background-color: #203f59;
  border: 1px solid #203f59;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
html body .loginPasswordIsWrong #sendEmail:hover {
  background-color: white;
  color: #203f59;
}
html body .back {
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
html body .back:hover {
  background-color: white;
  border: 1px solid #4CAF50;
  color: #4CAF50;
}
html body .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition-duration: 0.4s;
  padding-top: 40px;
  box-shadow: 10px 0 5px -2px #888;
  overflow-y: hidden;
  /* Dark-Ligh Mode */
  /* Rounded sliders */
}
html body .sidenav .toggle-container {
  margin-left: 2rem;
  float: left;
  margin-top: -1.8rem;
  display: flex;
}
html body .sidenav .toggle-container p {
  margin-top: auto;
  margin-left: 1rem;
  color: white;
  margin-bottom: auto;
}
html body .sidenav .toggle-container input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
html body .sidenav .toggle-container input[type=checkbox]:checked + label {
  background: var(--color-headings);
}
html body .sidenav .toggle-container input[type=checkbox]:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
html body .sidenav .toggle-container label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}
html body .sidenav .toggle-container label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
html body .sidenav .toggle-container label:active::after {
  width: 45px;
}
html body .sidenav h1 {
  padding: 0px 8px 0px 32px;
  color: white;
  display: block;
  font-size: 50px;
  transition-duration: 0.4s;
}
html body .sidenav h1:hover {
  color: #f1f1f1;
  cursor: context-menu;
}
html body .sidenav h2 {
  padding: 0px 8px 0px 32px;
  color: whitesmoke;
  display: block;
  transition-duration: 0.4s;
  font-style: italic;
  font-size: 20px;
}
html body .sidenav h2:hover {
  color: #f1f1f1;
  cursor: context-menu;
}
html body .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition-duration: 0.4s;
}
html body .sidenav a:hover {
  color: #f1f1f1;
}
html body .sidenav a:nth-child(4) {
  cursor: pointer;
}
html body .sidenav .eingeloggt p {
  padding: 8px 8px 8px 32px;
  font-size: 20px;
  color: #818181;
  display: block;
  transition-duration: 0.4s;
}
html body .sidenav .eingeloggt p:hover {
  cursor: context-menu;
}
html body .sidenav .closebtn {
  position: absolute;
  top: -3px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
html body .sidenav button {
  background-color: white;
  border: 2px solid white;
  color: black;
  padding: 18px 97.2px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: -3px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 0.1rem;
}
html body .sidenav button:hover {
  background-color: black;
  border: 2px solid white;
  color: white;
}
html body .sidenav button:hover p {
  color: white;
}
html body .sidenav button:hover img {
  filter: invert(100%);
}
html body .sidenav button img {
  width: 100%;
  height: 2vh;
}
html body .sidenav button p {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
}
html body .sidenav img {
  width: 15%;
}
html body footer {
  background-color: var(--color-for-footer);
}
html body footer p:nth-child(1) {
  margin-top: 5rem;
  color: var(--color-for-footer-text);
  text-align: center;
}
html body footer p:nth-child(2) {
  margin-top: 2rem;
  text-align: center;
  color: var(--color-for-footer-text);
}/*# sourceMappingURL=olivierstyle.css.map */