/* Sidenavigation */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
    box-shadow: 10px 0 5px -2px #888;
    overflow-y: hidden;
    h1 {
        padding: 0px 8px 0px 32px;
        color: white;
        display: block;
        transition: 0.3s;
        &:hover {
            color: #f1f1f1;
            cursor: context-menu;
        }
    }
    h4 {
        padding: 0px 8px 0px 32px;
        color: whitesmoke;
        display: block;
        transition: 0.3s;
        font-style: italic;
        &:hover {
            color: #f1f1f1;
            cursor: context-menu;
        }
    }
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        &:hover {
            color: #f1f1f1;
        }
        i {
            color: #818181;
            font-size: 25px;
        }
    }
    a:nth-child(4) {
        cursor: pointer;
    }
    p {
        padding: 8px 8px 8px 32px;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        &:hover {
            cursor: context-menu;
        }
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    button {
        background-color: white;
        border: 2px solid white;
        color: black;
        padding: 16px 113px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        &:hover {
            background-color: black;
            border: 2px solid white;
            color: white;
        }
    }
    img {
        width: 15%;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        a,
        p {
            font-size: 18px;
        }
    }
}