@charset "UTF-8";
@import url(button.css);
@import url(menu.css);
@import url(grid.css);
/** Colley Style-CSS
    * Hier wird nur beschrieben was zum Style gehört.
    * Alles was das Grid betrifft, wird im Grid-CSS definiert.
    * Alles was das Menu betrifft, wird im Menü-CSS definiert.
    * Alles was die Buttons betrifft, wird im Button-CSS definiert
    */
html {
  --bg: #FCFCFC;
  --bg-text: #EBEBEB;
  --color-headings: #0077FF;
  --color-text: #333333;
  --color-text-link: royalblue;
  --color-of-option-images: invert(0);
  --color-for-footer: #4b6982;
  --color-for-footer-text: #b4ffd8;
}
html[data-theme=dark] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-headings: #3694FF;
  --color-text: rgba(255, 255, 255, .87);
  --color-text-link: #FCFCFC;
  --color-of-option-images: invert(100%);
  --color-for-footer: white;
  --color-for-footer-text: black;
}

body {
  margin: 0px;
  background-color: var(--bg);
}

#kontoNrError,
#kontoNameError,
#kontoZweckError {
  color: #ff0000;
  font-weight: bold;
  text-align: center;
}

.container .header .line {
  height: 10px;
  background-color: #4b6982;
  border-top: 10px solid #70c6c7;
  border-bottom: 10px solid #70c6c7;
}
.container .header .colley {
  background-color: #4b6982;
  border-top: 20px solid #70c6c7;
  border-bottom: 20px solid #70c6c7;
}
.container .header h1 {
  color: #b4ffd8;
  font-size: 4em;
  font-family: sans-serif;
  text-align: center;
}
.container .titel {
  background-color: #c4a474;
  border-top: 1px solid #4b6982;
}
.container .titel h2 {
  color: #000000;
  font-size: 2.5em;
  font-family: serif;
  text-align: center;
}
.container .text {
  margin: 40px 20px;
}
.container .text p {
  color: var(--color-text);
  font-size: 1.5em;
  font-family: sans-serif;
  text-align: center;
  margin: 0 10px;
}
.container .main {
  margin: 0 20px;
}
.container .footer {
  margin-top: 100px;
}
.container .footer .line {
  height: 10px;
  background-color: #4b6982;
  border-top: 10px solid #70c6c7;
  border-bottom: 10px solid #70c6c7;
}
.container .footer .colley {
  background-color: #4b6982;
  border-top: 20px solid #70c6c7;
  border-bottom: 20px solid #70c6c7;
}
.container .footer p {
  color: #b4ffd8;
  font-size: 1.1em;
  font-family: serif;
  text-align: center;
}

.welcome-main .welcome1,
.welcome-main .welcome2,
.welcome-main .welcome5 {
  text-align: center;
}
.welcome-main .welcome1 a,
.welcome-main .welcome2 a,
.welcome-main .welcome5 a {
  text-decoration: none;
}
.welcome-main .welcome1 a .option,
.welcome-main .welcome2 a .option,
.welcome-main .welcome5 a .option {
  border: 5px solid #d3d3d3;
  border-radius: 12px;
  margin: 0 2rem;
  background-origin: #f9f9f9;
}
.welcome-main .welcome1 a .option:hover,
.welcome-main .welcome2 a .option:hover,
.welcome-main .welcome5 a .option:hover {
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1019607843);
}
.welcome-main .welcome1 a .option img,
.welcome-main .welcome2 a .option img,
.welcome-main .welcome5 a .option img {
  text-align: center;
  color: #ff0000;
  filter: var(--color-of-option-images);
}
.welcome-main .welcome1 a .option p,
.welcome-main .welcome2 a .option p,
.welcome-main .welcome5 a .option p {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  color: var(--color-text);
}

.neuesKonto-main {
  margin: 0 auto;
}
.neuesKonto-main .fehler {
  font-size: 1.2em;
  font-family: sans-serif;
  text-align: center;
  color: #ff0000;
  padding-bottom: 50px;
}
.neuesKonto-main .konto {
  margin: 0 auto;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.neuesKonto-main .konto label {
  font-size: 1.2em;
  font-family: sans-serif;
  padding-right: 10px;
}
.neuesKonto-main .konto input,
.neuesKonto-main .konto select,
.neuesKonto-main .konto textarea {
  font-family: sans-serif;
  font-size: 1em;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.neuesKonto-main .konto input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #6d6d6d;
}
.neuesKonto-main .konto .konto2 .leer {
  color: #000000;
  font-style: italic;
}
.neuesKonto-main .konto .konto3,
.neuesKonto-main .konto .konto4,
.neuesKonto-main .konto .konto7 {
  padding: 10px 0;
}
.neuesKonto-main .konto .konto7 {
  text-align: center;
}

.bilanz-main .bilanz1,
.bilanz-main .bilanz2,
.bilanz-main .bilanz3,
.bilanz-main .bilanz4 {
  text-align: center;
}
.bilanz-main .bilanz1 a,
.bilanz-main .bilanz2 a,
.bilanz-main .bilanz3 a,
.bilanz-main .bilanz4 a {
  text-decoration: none;
}
.bilanz-main .bilanz1 a .option,
.bilanz-main .bilanz2 a .option,
.bilanz-main .bilanz3 a .option,
.bilanz-main .bilanz4 a .option {
  border: 5px solid #d3d3d3;
  border-radius: 12px;
  margin: 0 4rem;
  background-origin: #f9f9f9;
}
.bilanz-main .bilanz1 a .option:hover,
.bilanz-main .bilanz2 a .option:hover,
.bilanz-main .bilanz3 a .option:hover,
.bilanz-main .bilanz4 a .option:hover {
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1019607843);
}
.bilanz-main .bilanz1 a .option img,
.bilanz-main .bilanz2 a .option img,
.bilanz-main .bilanz3 a .option img,
.bilanz-main .bilanz4 a .option img {
  text-align: center;
}
.bilanz-main .bilanz1 a .option p,
.bilanz-main .bilanz2 a .option p,
.bilanz-main .bilanz3 a .option p,
.bilanz-main .bilanz4 a .option p {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  color: #000000;
}

.uebersicht-main .konto div {
  border: 1px solid #000000;
  margin: 5px auto;
}
.uebersicht-main .konto div .t1 {
  width: 120px;
}
.uebersicht-main .konto div .t2 {
  width: 180px;
}

.journaleintrag-main .fehler {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.2em;
  color: #ff0000;
}
.journaleintrag-main .journaleintrag {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
}
.journaleintrag-main .journaleintrag label {
  font-size: 1.2em;
  font-family: sans-serif;
}
.journaleintrag-main .journaleintrag input {
  font-size: 1em;
  font-family: sans-serif;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #000000;
  width: 100%;
}
.journaleintrag-main .journaleintrag select {
  font-size: 1em;
  font-family: sans-serif;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #000000;
  width: 100%;
}

.journaleintragBearbeiten-main table {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.journaleintragBearbeiten-main table .puffer {
  width: 2rem;
}
.journaleintragBearbeiten-main table tr {
  border: 1px solid #cccccc;
}

.eintrag-main .eintrag {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  gap: 10px;
}
.eintrag-main .eintrag label {
  font-family: sans-serif;
  font-size: 1.2em;
}
.eintrag-main .eintrag input,
.eintrag-main .eintrag select {
  font-family: sans-serif;
  font-size: 1em;
  width: 100%;
}
.eintrag-main .eintrag .eintrag2 input {
  background-color: #dddddd;
  border: none;
}
.eintrag-main .eintrag .eintrag11 {
  text-align: center;
}

.rechnung-main .fehler {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.2em;
  color: #ff0000;
}
.rechnung-main .form {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
  gap: 10px;
}
.rechnung-main .form label {
  font-size: 1.2em;
  font-family: sans-serif;
}
.rechnung-main .form input {
  font-size: 1em;
  font-family: sans-serif;
}
.rechnung-main .form .form7 {
  text-align: center;
}

.kalkulation-main {
  text-align: center;
}
.kalkulation-main a {
  text-decoration: none;
  color: #000000;
}
.kalkulation-main a .option {
  border: 5px solid #d3d3d3;
  border-radius: 12px;
  font-family: sans-serif;
}
.kalkulation-main a .option:hover {
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1019607843);
}
.kalkulation-main a .option img {
  filter: invert(0);
}

.ek-erstellen-main .tabelle,
.ek-berechnen-main .tabelle,
.ik-erstellen-main .tabelle,
.ik-berechnen-main .tabelle,
.vk-erstellen-main .tabelle,
.vk-berechnen-main .tabelle,
.gk-erstellen-main .tabelle,
.gk-berechnen-main .tabelle {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.ek-erstellen-main .tabelle table,
.ek-berechnen-main .tabelle table,
.ik-erstellen-main .tabelle table,
.ik-berechnen-main .tabelle table,
.vk-erstellen-main .tabelle table,
.vk-berechnen-main .tabelle table,
.gk-erstellen-main .tabelle table,
.gk-berechnen-main .tabelle table {
  font-family: sans-serif;
}

.left {
  text-align: left;
  padding-right: 5px;
}

.center {
  text-align: center;
  padding: 0 5px;
}

.right {
  text-align: right;
  padding-left: 5px;
}

.ergebnis {
  text-align: left;
}

.double {
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
}

ul > li {
  font-size: 20px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}
table .side {
  width: 50%;
}
table .border {
  border: 1px solid darkgrey;
}
table td button {
  margin: 5px 0;
}

/* Sonstiges */
.bild {
  text-align: center;
}
.bild img {
  border: 2px solid black;
  background-color: black;
  border-radius: 50%;
  width: 25%;
}

.dark {
  background-color: lightgrey;
}/*# sourceMappingURL=style.css.map */