/* Body */
body{padding: 20px;}
/* Überschriften */
h1{
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    text-align: left;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-block-end: 0px;
}

h4{
    text-align: left;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-block-start: 2em;
    margin-block-end: 0px;
}

 /* Schrift */
p{
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.left{
    text-align: left;
    padding-right: 5px;
}
.center{
    text-align: center;
    padding: 0 5px;
}
.right{
    text-align: right;
    padding-left: 5px;
}
.ergebnis{text-align: left;}
.double{text-decoration: underline double;}

ul > li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Input */
input{
    height: 15px;
    width: 100px;
    border:0!important;
}

/* Table */
.side{width: 50%;}
table{
    border: none;
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    width:  max-content;
}
.weiss{border: none}
.b-center{
    border-top: 1px solid black;
    border-right: none;
    border-bottom: 1px solid black;
    border-left: none;
}
.b-left{
    border-top: 1px solid black;
    border-right: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.b-right{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: none;
}
td > a > button{
    margin: 5px 0;
}

/* Sonstiges */
.bild{
    text-align: center;
    img{
        border: 2px solid black;
        background-color: black;
        border-radius: 50%;
        width: 25%;
    }
}
