@import url(button.css);
@import url(menu.css);
@import url(grid.css);

/** Colley Style-CSS
    * Hier wird nur beschrieben was zum Style gehört.
    * Alles was das Grid betrifft, wird im Grid-CSS definiert.
    * Alles was das Menu betrifft, wird im Menü-CSS definiert.
    * Alles was die Buttons betrifft, wird im Button-CSS definiert
    */

html {
    --bg: #FCFCFC;
    --bg-text: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #333333;
    --color-text-link: royalblue;
    --color-of-option-images: invert(0);
    --color-for-footer: #4b6982;
    --color-for-footer-text: #b4ffd8;
    &[data-theme='dark'] {
        --bg: #333333;
        --bg-panel: #434343;
        --color-headings: #3694FF;
        --color-text: rgba(255, 255, 255, .87);
        --color-text-link: #FCFCFC;
        --color-of-option-images: invert(100%);
        --color-for-footer: white;
        --color-for-footer-text: black;
    }
}

body {
    margin: 0 0 50px 0;
    background-color: var(--bg);
}

#kontoNrError,
#kontoNameError,
#kontoZweckError {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
}

// Container - Bleibt immer Fix
.container {
    .header {
        .line {
            height: 10px;
            background-color: #4b6982;
            border-top: 10px solid #70c6c7;
            border-bottom: 10px solid #70c6c7;
        }
        .colley {
            background-color: #4b6982;
            border-top: 20px solid #70c6c7;
            border-bottom: 20px solid #70c6c7;
        }
        h1 {
            color: #b4ffd8;
            font-size: 4em;
            font-family: sans-serif;
            text-align: center;
        }
    }
    .titel {
        background-color: #c4a474;
        border-top: 1px solid #4b6982;
        h2 {
            color: #000000;
            font-size: 2.5em;
            font-family: serif;
            text-align: center;
        }
    }
    .text {
        margin: 40px 20px;
        p {
            color: var(--color-text);
            font-size: 1.5em;
            font-family: sans-serif;
            text-align: center;
            margin: 0 10px;
        }
    }
    .main {
        margin: 0 20px;
    }
}

// Welcome
.welcome-main {
    .welcome1,
    .welcome2,/*
    .welcome3,
    .welcome4,*/
    .welcome5 {
        text-align: center;
        a {
            text-decoration: none;
            .option {
                border: 5px solid #d3d3d3;
                border-radius: 12px;
                margin: 0 2rem;
                background-origin: #f9f9f9;
                &:hover {
                    box-shadow: 0 10px 50px #0000001a;
                }
                    img {
                    text-align: center;
                    color: #ff0000;
                    filter: var(--color-of-option-images);
                }
                p {
                    text-align: center;
                    font-size: 20px;
                    font-family: sans-serif;
                    color: var(--color-text);
                }
            }
        }
    }
}

// neues Konto
.neuesKonto-main {
    margin: 0 auto;
    .fehler {
        font-size: 1.2em;
        font-family: sans-serif;
        text-align: center;
        color: #ff0000;
        padding-bottom: 50px;
    }
    .konto {
        margin: 0 auto;
        width: min-content;
        label {
            font-size: 1.2em;
            font-family: sans-serif;
            padding-right: 10px;
        }
        input,
        select,
        textarea {
            font-family: sans-serif;
            font-size: 1em;
            width: min-content;
        }
        input {
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 1px solid #6d6d6d;
        }
        .konto2 {
            .leer {
                color: #000000;
                font-style: italic;
            }
        }
        .konto3,
        .konto4,
        .konto7 {
            padding: 10px 0;
        }
        .konto7 {
            text-align: center;
        }
    }
}

// Bilanz
.bilanz-main {
    .bilanz1,
    .bilanz2,
    .bilanz3,
    .bilanz4 {
        text-align: center;
        a {
            text-decoration: none;
            .option {
                border: 5px solid #d3d3d3;
                border-radius: 12px;
                margin: 0 4rem;
                background-origin: #f9f9f9;
                &:hover {
                    box-shadow: 0 10px 50px #0000001a;
                }
                    img {
                    text-align: center;
                }
                p {
                    text-align: center;
                    font-size: 20px;
                    font-family: sans-serif;
                    color: #000000;
                }
            }
        }
    }
}

// Kontoübersicht
.uebersicht-main {
    .konto {
        div {
            border: 1px solid #000000;
            margin: 5px auto;
            .t1 {
                width: 120px;
            }
            .t2 {
                width: 180px;
            }
        }
    }
}

// Journaleintrag
.journaleintrag-main {
    .fehler {
        text-align: center;
        font-family: sans-serif;
        font-size: 1.2em;
        color: #ff0000;
    }
    .journaleintrag {
        width: min-content;
        margin: 0 auto;
        label {
            font-size: 1.2em;
            font-family: sans-serif;
        }
        input {
            font-size: 1em;
            font-family: sans-serif;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 1px solid #000000;
            width: 100%;
        }
        select {
            font-size: 1em;
            font-family: sans-serif;
            border-left: none;
            border-top: none;
            border-right: none;
            border-bottom: 1px solid #000000;
            width: 100%;
        }
    }
}

// Journaleintrag 
.journaleintragBearbeiten-main {
    table {
        width: max-content;
        margin: 0 auto;
        .puffer {
            width: 2rem;
        }
        tr {
            border: 1px solid #cccccc;
        }
    }
}

// Journaleintrag bearbeiten
.eintrag-main {
    .eintrag {
        width: max-content;
        margin: 0 auto;
        gap: 10px;
        label {
            font-family: sans-serif;
            font-size: 1.2em;
        }
        input,
        select {
            font-family: sans-serif;
            font-size: 1em;
            width: 100%;
        }
        .eintrag2 {
            input {
                background-color: #dddddd;
                border: none;
            }
        }
        .eintrag11 {
            text-align: center;
        }
    }
}

// Rechnungsnummer
.rechnung-main {
    .fehler {
        text-align: center;
        font-family: sans-serif;
        font-size: 1.2em;
        color: #ff0000;
    }
    .form {
        width: min-content;
        margin: 0 auto;
        gap: 10px;
        label {
            font-size: 1.2em;
            font-family: sans-serif;
        }
        input {
            font-size: 1em;
            font-family: sans-serif;
        }
        .form7 {
            text-align: center;
        }
    }
}

// Kalkulationen
.kalkulation-main {
    text-align: center;
    a{
        text-decoration: none;
        color: #000000;
        .option {
            border: 5px solid #d3d3d3;
            border-radius: 12px;
            font-family: sans-serif;
            &:hover {
                box-shadow: 0 10px 50px #0000001a;
            }
            img {
                filter: invert(0);
            }
        }
    }
}

// Kalkulation berechnen
.ek-erstellen-main,
.ek-berechnen-main,
.ik-erstellen-main,
.ik-berechnen-main,
.vk-erstellen-main,
.vk-berechnen-main,
.gk-erstellen-main,
.gk-berechnen-main {
    .tabelle {
        width: max-content;
        margin: 0 auto;
        table {
            font-family: sans-serif;
        }
    }
}

// Allgemein gebrauchtes
.left {
    text-align: left;
    padding-right: 5px;
}

.center {
    text-align: center;
    padding: 0 5px;
}

.right {
    text-align: right;
    padding-left: 5px;
}

// Kontoübersicht
.ergebnis {
    text-align: left;
}

.double {
    text-decoration: underline double;
}

ul>li {
    font-size: 20px;
}


/* Table */

table {
    width: 100%;
    border-collapse: collapse;
    .side {
        width: 50%;
    }
    .border {
        border: 1px solid darkgrey;
    }
    td {
        button {
            margin: 5px 0;
        }
    }
}


/* Sonstiges */

.bild {
    text-align: center;
    img {
        border: 2px solid black;
        background-color: black;
        border-radius: 50%;
        width: 25%;
    }
}

.dark {
    background-color: lightgrey;
}